a, abbr, acronym, address, applet, article,
aside, audio, b, big, blockquote, body, canvas,
caption, center, cite, code, dd, del, details,
dfn, div, dl, dt, em, embed, fieldset, figcaption,
figure, footer, form, h1, h2, h3, h4, h5, h6, header,
hgroup, html, i, iframe, img, ins, kbd, label, legend,
li, mark, menu, nav, object, ol, output, p, pre, q,
ruby, s, samp, section, small, span, strike, strong,
sub, summary, sup, table, tbody, td, tfoot, th, thead,
time, tr, tt, u, ul, var, video
{
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

button, input, select, textarea {
  border-radius: 0;
  font-family: inherit;
}

article, aside, details, figcaption, figure, footer, header,
hgroup, main, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-weight: 400;
  font-family: IBM Plex Sans, Helvetica Neue, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2.625rem;
  font-weight: 300;
  line-height: 1.199;
  letter-spacing: 0;
}

h2 {
  font-size: 2rem;
  line-height: 1.25;
}

h2, h3 {
  font-weight: 400;
  letter-spacing: 0;
}

h3 {
  font-size: 1.75rem;
  line-height: 1.29;
}

a:any-link {
  cursor: pointer;
}
